syntax: glob
Thumbs.db
*.tmp
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
temp/
*.vs10x
*.GhostDoc.user.dic
TestsLog.xml
*.log
installer/Setup Files/
installer/setup-cache/
*.GhostDoc.xml
bower_components/
node_modules/
.idea/
StyleCop.Cache
build/
ext/
example/
public/bootstrap.*
TODO
public/packages/more-ext/
*.db
userdata/
public/cldr-data/
public/packages/remote/
public/auth/classic.css
public/auth/classic.json
public/auth/crisp.css
public/auth/crisp.json
public/auth/gray.css
public/auth/gray.json
public/auth/neptune.css
public/auth/neptune.json
public/auth/neptune-black.json
public/auth/neptune-gray.json
public/auth/neptune-green.json
public/auth/neptune-orange.json
public/auth/neptune-red.json
public/auth/RefreshPackages.cmd
public/auth/triton.css
public/auth/triton.json
public/CreateWorkspace.cmd
public/auth/bootstrap.js
public/main/bootstrap.js
public/main/classic.css
public/main/classic.json
public/main/crisp.css
public/main/crisp.json
public/main/gray.css
public/main/gray.json
public/main/neptune.css
public/main/neptune.json
public/main/RefreshPackages.cmd
public/main/triton.css
public/main/triton.json
