syntax: glob
Thumbs.db
*.tmp
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
temp/
*.vs10x
*.GhostDoc.user.dic
TestsLog.xml
installer/Setup Files/
installer/setup-cache/
*.GhostDoc.xml
bower_components/
node_modules/
.idea/